<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit a todo item:</h1>

    <form method="POST" >
<!-- adds a token to guarantee this data is coming from the app, not somewhere else. -->
        {% csrf_token %}
        <div>
<!-- Form, below, will be rendered with paragraph tags, other option woulc be as_table -->
         {{ form.as_p }}
            <p>
            <button type="submit">
            Update Item
            </button>
            </p>
        </div>


    </form>


</body>
</html>